<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>sk-proj-YOUR_OPENAI_API_KEY_HERE</string>
	<key>GCLOUD_API_KEY</key>
	<string>YOUR_GCLOUD_API_KEY_HERE</string>
	<key>GITHUB_TOKEN</key>
	<string>ghp_YOUR_GITHUB_TOKEN_HERE</string>
	<key>APPLE_PRIVATE_KEY</key>
	<string>-----BEGIN PRIVATE KEY-----
YOUR_APPLE_PRIVATE_KEY_HERE
-----END PRIVATE KEY-----</string>
	<key>GOOGLE_SDK_CLIENT_ID</key>
	<string>YOUR_GOOGLE_SDK_CLIENT_ID.apps.googleusercontent.com</string>
	<key>GOOGLE_OAUTH_CLIENT_ID</key>
	<string>YOUR_GOOGLE_OAUTH_CLIENT_ID.apps.googleusercontent.com</string>
	<key>APPLE_AUTH_CALLBACK_URL</key>
	<string>https://YOUR_FIREBASE_PROJECT.firebaseapp.com/__/auth/handler</string>
</dict>
</plist>
